# Dependencies
node_modules/
.venv/
env/
__pycache__/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
dist/
build/
*.egg-info/
chroma_db/

# System files
.DS_Store
Thumbs.db
